$menu-bg-color: #005228;
$adm-menu-bg-color: rgb(255, 238, 205);

@import 'https://fonts.googleapis.com/css?family=Oswald';

#menubar {
	.menu--main {
		background-color: $menu-bg-color;
	}
}

.site-branding__slogan {
	color: darkslategray;
	font-size: 1.25em;
}

.subbrand {
border-top: none;
}

.diptych {
display: flex;
}