$menu-bg-color: #005228;
$adm-menu-bg-color: rgb(255, 238, 205);

@import 'https://fonts.googleapis.com/css?family=Oswald';

#menubar {
	.menu--main {
		background-color: $menu-bg-color;
	}
}

.site-branding__slogan {
	color: darkslategray;
	font-size: 1.25em;
}

.subbrand {
border-top: none;
}

.view-organizers {
	background-image: url('/sites/default/files/2021-03/sherrerd_1.jpg');
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: center;
	
	.view-content {
		display: flex;
	}

	.committee .views-row {
		background-color: rgba(255, 255, 255, 0.7);
		padding: 1em;
		margin: 1em;
		border-radius: 45px;
		
		h1 {
			margin: 0 0 0.5em;
			text-align: center;
		}
	}

}
